[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
TestResults/
Tools/GameMesh/cache/
[Uu]ser[Ss]ettings/

.vs/
.vscode/
.idea/

*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

sysinfo.txt

*.apk
*.aab
*.ipa

.DS_Store
Thumbs.db
